html, body {
    height: 100%;
    min-height: 100%;
    font-size:100%;
}

canvas {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

[class*="col-"] {
    padding: 1rem;
}

span.rider {
    white-space: nowrap;
    font-size: x-small;
    margin: 8px 4px;
    padding: 4px 4px;
    background-color: #dddddd;
    border-width: 0px;
    border-radius: 10px;
}

span.delete {
    margin-left: 8px;
    padding: 0px 3px 1px 3px;
    background-color: #999999;
    border-radius: 10px;
    cursor: default;
}
